# Created by .ignore support plugin (hsz.mobi)

# Operating System Files 

*.DS_Store 
Thumbs.db 
*.sw? 
.#* 
*# 
*~ 
*.sublime-* 

# Build Artifacts 

.gradle/
build/
target/
logs/
bin/
dependency-reduced-pom.xml 

# Eclipse Project Files 

.classpath
.project
.settings/ 

# IntelliJ IDEA Files 
.idea/
*.iml
*.ipr 
*.iws 
*.idea 
*.exe
